body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: #ede7e3;
}


.navbar img{
    margin-top: 1%;
}

.row{
    margin-left: 8%;
    margin-right: 17%;
}

.row img{
    height: 250px;
    box-shadow: 5px 5px 7px #e0d9d5;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container{
    position: relative;
    height: 250px;
    width: 100%;
    margin-bottom: 10%;
}

.caption{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text{
    color: #423e3b;
    font-size: 16px;
}

.container:hover img{
    opacity: .4;
}

.container:hover .caption{
    opacity: 1;
}
